
body {
    background-color: lightblue;
    background-image: url(assets/sfondo.png);
    background-position: center right;
    background-repeat: repeat ;
    background-size: 35em;
}


/* IL PUNTO è PERCHè è UNA CLASSE altezze minime per creare quadrato bianco*/
.container {
    width: 300px;
    
    min-height: 210px;
    background-color: rgb(26, 10, 203);
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(17,17,143,1) 20%, rgba(0,212,255,1) 100%);
    

}

.image img {
    width: 50%;
    
}
.image img {
    position: relative;
    left: 75px;
    
  }

.pippo {
    position: relative;
    left: 40px;
    color: aliceblue;
    font-style: italic;
    font: bold;
}

.pippo1 {
    position: relative;
    left: 80px;
    color: aliceblue;
    font-style: italic;
    font: bold;
}


a {
    color: aliceblue;
}

.container1 {
    width: 300px;
    
    min-height: 210px;
    background-color: white;
    margin: 0 auto;
    min-inline-size: 500px;
    }

.pippo2 {
    color: black;
    font: bold;
    
}

.Mario {
    color: gray;
}

.ole {
    color:rgb(255, 130, 249);
}

.r {
    color: blueviolet;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 40px;
    
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #09028b;
    color: white;
  }

  .figa {
    color: darkblue;
  }

.t {
    background-color:rgb(181, 177, 177);
    margin-left: 20px;
    margin-right: 20px;
}
.f {
    background-color: #453dde;
    color: white;
}

.y {
    margin-left: 180px;
    margin-right: 80px;
}

.i {
    margin-left: 160px;
}
.o {
    background-color: rgb(192, 192, 192);
    margin-left: 30px;
    margin-right: 30px;
}
.d {
    margin-left: 300px;
}
.p {
    background-color: rgb(192, 192, 192);
    margin-left: 30px;
    margin-right: 30px;
}

.l {
    margin-left: 300px;
    }
    .k {
        background-color: rgb(192, 192, 192);
        margin-left: 30px;
        margin-right: 30px;
    }

    .last {
        width: 300px;
        
        max-height: 150px;
        background-color: rgb(1, 87, 73);
        margin-bottom: 40px;
        margin-left: 500px;
        background: linear-gradient(0deg, rgb(5, 2, 75) 0%, rgba(17,17,143,1) 20%, rgba(0,212,255,1) 100%);
        text-align: center;
        
    }
  
   